doctype html
html
	head
		title Chat app
		link(rel="stylesheet", type="text/css", href="/css/style.css")
	body
		div.login-form
			form.test-multipart(method="POST", action="/api/users/login", enctype="multipart/form-data")
				span name
				br/
				input.username(type="text", name="name")
				br/
				input.sex(type="radio", name="sex", value="male")
				span male
				input.sex(type="radio", name="sex", value="female")
				span female
				br/
				div.dropImage
					| Drop your image here!
				br/
				input.image(type="file", name="image")
				input.login(type="submit", value="login")
			button.logout logout
		div.container
			h2 Chat app
			div.messages
			textarea.message-text
			input.send(type="button", value="send")

		script(src="/vendor/requirejs/require.js", data-main="/main.js")

