doctype html
html
	head
		title Chat app
		link(rel="stylesheet", type="text/css", href="/css/style.css")
	body
		div.login-form
			span name
			br/
			input.username(type="text")
			br/
			input.sex(type="radio", name="sex", value="male")
			span male
			input.sex(type="radio", name="sex", value="female")
			span female
			br/
			button.login login
			button.logout logout
		div.container
			h2 Chat app
			div.messages
			input.message-text(type="text")
			input.send(type="button", value="send")

		script(type="text/javascript", src="/js/zepto.min.js")
		script(type="text/javascript", src="/js/socket.io.min.js")
		script(type="text/javascript", src="/#{secretPublic}/script.js")