doctype html
html
	head
		title Chat app
		link(rel="stylesheet", type="text/css", href="/css/style.css")
	body
		div.login-form
			span name
			br/
			input.username(type="text")
			br/
			input.sex(type="radio", name="sex", value="male")
			span male
			input.sex(type="radio", name="sex", value="female")
			span female
			br/
			div.dropImage
				| Drop your image here!
			br/
			button.login login
			button.logout logout
		div.testForm
			form.test-multipart(method="POST", action="/api/users/upload", enctype="multipart/form-data")
				input.image(type="file")
				input.sendImage(type="submit")
		div.container
			h2 Chat app
			div.messages
			textarea.message-text
			input.send(type="button", value="send")


		script(type="text/javascript", src="/js/zepto.min.js")
		script(type="text/javascript", src="/js/socket.io.min.js")
		script(type="text/javascript", src="/#{secretPublic}/script.js")