<!DOCTYPE html>
<html>
    <head>
        <title>Chat app</title>
        <link rel="stylesheet" type="text/css" href="/css/bootstrap.min.css"/>        
        <link rel="stylesheet" type="text/css" href="/css/bootstrap-theme.min.css"/>        
        <link rel="stylesheet" type="text/css" href="/css/style.css"/>        
    </head>
    <body>
        <div id="chat-app"></div>
        <script type="text/javascript" src="/vendor/requirejs/require.js" data-main="/main.js"></script>
    </body>
</html>