.login-form{
	border: 1px solid #efefef;
	padding: 10px;
	border-radius: 4px;
}
.drop-avatar{
	width: 64px;
	height: 64px;
	border: 1px solid #f2f2f2;
	margin: 10px auto;
}
.login-form .username{
	margin: 10px 0;
}
.login-form .male{
	width: 60px;
	border-top-right-radius: 0;
	border-bottom-right-radius: 0;
}
.login-form .female{
	width: 60px;
	border-top-left-radius: 0;
	border-bottom-left-radius: 0;
}
.chat-window{
	margin-top: 20px;
}
.chat{
	padding-top: 10px;
	height: 400px;
	overflow-y: scroll;
	border: 1px solid #f2f2f2;
}
.users-list{
	border-top: 1px solid #efefef;
	border-bottom: 1px solid #efefef;
	margin-top: 60px;
	border-left-top: 5px;
	border-left-bottom: 5px;
	height: 320px;
	overflow: auto;
}
.type-message-wrapper{
	margin-top: 10px;
}
