.loader-wrap{
	width: 300px;
	height: 300px;
	margin: 0 auto;
	position: relative;
}
.loader,
.loader:after,
.loader:before{
	width: 1em;
	height: 4em;
	font-size: 16px;
	background: #46a;
	-webkit-animation: loader 1s ease-in-out 0.16s infinite;
	animation: loader 1s ease-in-out 0.16s infinite;
}
.loader:after,
.loader:before{
	content: "";
	position: absolute;
	left: -1.4em;
	-webkit-animation-delay: 0;
}
.loader:before{
	left: 1.4em;
	-webkit-animation-delay: 0.32s;
}
.loader{
	position: relative;
	margin: 5em auto;
}
@-webkit-keyframes loader{
	0%,
	25%,
	75%,
	100%{
		box-shadow: 0 0 #46a;
		height: 4em;
	}
	50%{
		box-shadow: 0 -1em #46a;
		height: 5em;
	}
}
.login-form{
	border: 1px solid #efefef;
	padding: 10px;
	border-radius: 4px;
}
.login-form input[type=text]{
	padding-right: 30px;
}
.login-name-wrap{
	position: relative;
	margin-bottom: 10px;
}
.login-name-wrap .glyphicon{
	position: absolute;
	top: 8px;
	right: 8px;
}
.login-name-wrap .glyphicon-ok{
	color: #3c763d;
}
.login-name-wrap .glyphicon-warning-sign{
	color: #f0ad4e;
}
.drop-avatar{
	width: 64px;
	height: 64px;
	border: 1px solid #f2f2f2;
	margin: 10px auto;
}
.login-form .username{
	margin: 10px 0;
}
.login-form .male{
	width: 60px;
	border-top-right-radius: 0;
	border-bottom-right-radius: 0;
}
.login-form .female{
	width: 60px;
	border-top-left-radius: 0;
	border-bottom-left-radius: 0;
}
.chat-window{
	margin-top: 20px;
	padding-top: 10px;
	height: 400px;
	overflow-y: scroll;
	border: 1px solid #f2f2f2;
	border-radius: 4px;
}
.users-list{
	border-top: 1px solid #efefef;
	border-bottom: 1px solid #efefef;
	margin-top: 60px;
	border-left-top: 5px;
	border-left-bottom: 5px;
	height: 320px;
	overflow: auto;
}
.type-message-wrap{
	margin-top: 10px;
}
.type-message{
	border: 1px solid #efefef;
	height: 50px;
	margin-top: 10px;
}
.send-wrap{
	margin-top: 10px;
}
